.header__menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__menu {
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
}